
<p>{{titulo}}</p>
<!-- El evento (ngSubmit) se utiliza para detectar cuando se envía el formulario y llama al método que se requiera definido en el component.ts. 
La directiva #clienteForm="ngForm" se utiliza para crear una referencia al formulario en el componente. -->
<!-- (ngSubmit)="createCliente()" -->
<form #clienteForm="ngForm"> <!-- se utiliza la directiva ngForm para crear una referencia al formulario en el component -->
    <!-- La directiva [(ngModel)] se utiliza para enlazar el valor del campo de entrada a la propiedad nombre del objeto cliente.
        La propiedad required se utiliza para indicar que el campo es obligatorio. -->
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" name="nombre" [(ngModel)]="cliente.nombre" required minlength="4"
            #nombre="ngModel"> <!-- #nombre es como un id que referencia el input para hacer la validaciones -->
        <!-- mensaje de errores -->
        <!-- dirty es para cuando se está escribiendo y touched es que se muestra el error cuando se sale del focus del input   -->
        <!-- se ha utilizado el operador de navegación segura (?.) para acceder a las propiedades required y minlength de nombre.errors solo si nombre.errors no es null -->
        <div class="alert alert-danger" *ngIf="nombre.touched && nombre.invalid">
            <div *ngIf="nombre.errors?.['required']">
                El nombre es obligatorio
            </div>
            <div *ngIf="nombre.errors?.['minlength']">
                El nombre debe tener al menos 4 caracteres
            </div>
        </div>

    </div>
    <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" name="apellido" [(ngModel)]="cliente.apellido" required
            #apellido="ngModel">
        <div class="alert alert-danger" *ngIf="apellido.touched && apellido.invalid">
            <div *ngIf="apellido.errors?.['required']">
                El apellido es obligatorio
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="cliente.email" required email #email>
        <div class="alert alert-danger"
            *ngIf="clienteForm.controls['email'].touched && clienteForm.controls['email'].invalid">
            <div *ngIf="clienteForm.controls['email'].errors?.['required']">
                El email es obligatorio
            </div>
            <div *ngIf="clienteForm.controls['email'].errors?.['email']">
                El email no es válido
            </div>
        </div>
    </div>

        
    <!-- Si el id es nulo, se muestra el botón de "Guardar". Si el id no es nulo, se oculta el botón de "Guardar" y se muestra el botón de "Actualizar" utilizando la plantilla elseBlock. -->
    <!-- elseBlock es el nombre de la plantilla  -->
    <!-- La directiva [disabled] se utiliza para deshabilitar el botón si el formulario no es válido. -->
    <button class="btn btn-primary" (click)="createCliente()" *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Guardar</button>

    <ng-template #elseBlock>
        <button type="submit" class="btn btn-primary" (click)="update()" [disabled]="!clienteForm.form.valid">Actualizar</button>
    </ng-template
    >
    <a routerLink="/clientes" class="btn btn-danger">Cancelar</a>
</form>