<p>{{titulo}}</p>
<!-- El evento (ngSubmit) se utiliza para detectar cuando se envía el formulario y llamar al método onSubmit(). 
La directiva #clienteForm="ngForm" se utiliza para crear una referencia al formulario en el componente. -->
<form (ngSubmit)="onSubmit()" #clienteForm="ngForm">
    <!-- La directiva [(ngModel)] se utiliza para enlazar el valor del campo de entrada a la propiedad nombre del objeto cliente.
        La propiedad required se utiliza para indicar que el campo es obligatorio. -->
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" name="nombre" [(ngModel)]="cliente.nombre" required>
    </div>
    <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" name="apellido" [(ngModel)]="cliente.apellido" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="cliente.email" required>
    </div>
    <!--  El botón Guardar se utiliza para enviar el formulario y llamar al método onSubmit().
        La directiva [disabled] se utiliza para deshabilitar el botón si el formulario no es válido.
        El botón Cancelar se utiliza para volver a la lista de clientes utilizando la directiva routerLink. -->
    <button type="submit" class="btn btn-primary" [disabled]="!clienteForm.form.valid">Guardar</button>
    <a routerLink="/clientes" class="btn btn-danger">Cancelar</a>
</form>