<div class="card bg-light">
    <div class="card-header">{{titulo}}: {{factura.descripcion}}</div>
    <div class="card-body">
        <h4 class="card-title">
            <a class="btn btn-light btn-xs">&laquo; volver</a>
        </h4>
        <form>
            <!-- Solo para mostrar el nombre del cliente que hace la factura -->
            <!-- Valida si el usuario está disponible para mostrar, porque el componente es de forma asincrona y se puede mostrar primero el componete y despues la informacion   -->
            <div class="form-group row" *ngIf="factura.cliente">
                <label for="nombreCliente" class="col-sm-2 col-form-label">Nombre del cliente</label>
                <div class="col-sm-6">
                    <input type="text" name="nombreCliente"
                        value="{{factura.cliente.nombre}} {{factura.cliente.apellido}}" class="form-control" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="descripcion" class="col-sm-2 col-form-label">Descripcion</label>
                <div class="col-sm-6">
                    <input type="text" name="descripcion" [(ngModel)]="factura.descripcion" class="form-control">
                </div>
            </div>
            <!-- Autocomplete usando Angular Material  pero no está funcionando por el momento
            https://material.angular.io/components/autocomplete/examples
            se puede investigar mas
            -->
            <div class="form-group row">
                <div class="col-sm-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Number</mat-label>
                        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
                            [matAutocomplete]="auto">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="seleccionarProducto($event)">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group row">
                <label for="observacion" class="col-sm-2 col-form-label">observacion</label>
                <div class="col-sm-6">
                    <textarea name="observacion" [(ngModel)]="factura.observacion" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <input type="submit" value="Crear factura" class="btn btn-secondary">
                </div>
            </div>
        </form>


    </div>
</div>